mixin days(data)
    .body__item
        .body__day.Heading=data.day
        .body__desc.desc
            .desc__item
                .desc__times=data.time
                .desc__class=data.classG
                .desc__coach=data.coach
                .desc__level=data.level
            .desc__item
                .desc__times=data.time1
                .desc__class=data.classG1
                .desc__coach=data.coach1
                .desc__level=data.level1
            .desc__item
                .desc__times=data.time2
                .desc__class=data.classG2
                .desc__coach=data.coach2
                .desc__level=data.level2